@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
@import "tailwindcss";
@plugin "daisyui";


:root {

  line-height: 1.5;
  background:white;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
body{
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
    color:black;
}

.input-style {
  @apply w-full px-4 py-3 rounded-xl border border-gray-200 dark:border-slate-600 
  outline-none focus:border-pink-500 focus:ring-2 focus:ring-pink-200 
  dark:bg-slate-700 transition-all duration-200;
}
